$feather-activity-light: "\e902";
$feather-activity: "\e900";
$feather-activity-bold: "\e901";
$feather-airplay-light: "\e903";
$feather-airplay: "\e904";
$feather-airplay-bold: "\e905";
$feather-alert-circle-light: "\e906";
$feather-alert-circle: "\e907";
$feather-alert-circle-bold: "\e908";
$feather-alert-octagon-light: "\e909";
$feather-alert-octagon: "\e90a";
$feather-alert-octagon-bold: "\e90b";
$feather-alert-triangle-light: "\e90c";
$feather-alert-triangle: "\e90d";
$feather-alert-triangle-bold: "\e90e";
$feather-align-center-light: "\e90f";
$feather-align-center: "\e910";
$feather-align-center-bold: "\e911";
$feather-align-justify-light: "\e912";
$feather-align-justify: "\e913";
$feather-align-justify-bold: "\e914";
$feather-align-left-light: "\e915";
$feather-align-left: "\e916";
$feather-align-left-bold: "\e917";
$feather-align-right-light: "\e918";
$feather-align-right: "\e919";
$feather-align-right-bold: "\e91a";
$feather-anchor-light: "\e91b";
$feather-anchor: "\e91c";
$feather-anchor-bold: "\e91d";
$feather-aperture-light: "\e91e";
$feather-aperture: "\e91f";
$feather-aperture-bold: "\e920";
$feather-archive-light: "\e921";
$feather-archive: "\e922";
$feather-archive-bold: "\e923";
$feather-arrow-down-light: "\e924";
$feather-arrow-down: "\e925";
$feather-arrow-down-bold: "\e926";
$feather-arrow-down-circle-light: "\e927";
$feather-arrow-down-circle: "\e928";
$feather-arrow-down-circle-bold: "\e929";
$feather-arrow-down-left-light: "\e92a";
$feather-arrow-down-left: "\e92b";
$feather-arrow-down-left-bold: "\e92c";
$feather-arrow-down-right-light: "\e92d";
$feather-arrow-down-right: "\e92e";
$feather-arrow-down-right-bold: "\e92f";
$feather-arrow-left-light: "\e930";
$feather-arrow-left: "\e931";
$feather-arrow-left-bold: "\e932";
$feather-arrow-left-circle-light: "\e933";
$feather-arrow-left-circle: "\e934";
$feather-arrow-left-circle-bold: "\e935";
$feather-arrow-right-light: "\e936";
$feather-arrow-right: "\e937";
$feather-arrow-right-bold: "\e938";
$feather-arrow-right-circle-light: "\e939";
$feather-arrow-right-circle: "\e93a";
$feather-arrow-right-circle-bold: "\e93b";
$feather-arrow-up-light: "\e93c";
$feather-arrow-up: "\e93d";
$feather-arrow-up-bold: "\e93e";
$feather-arrow-up-circle-light: "\e93f";
$feather-arrow-up-circle: "\e940";
$feather-arrow-up-circle-bold: "\e941";
$feather-arrow-up-left-light: "\e942";
$feather-arrow-up-left: "\e943";
$feather-arrow-up-left-bold: "\e944";
$feather-arrow-up-right-light: "\e945";
$feather-arrow-up-right: "\e946";
$feather-arrow-up-right-bold: "\e947";
$feather-at-sign-light: "\e948";
$feather-at-sign: "\e949";
$feather-at-sign-bold: "\e94a";
$feather-award-light: "\e94b";
$feather-award: "\e94c";
$feather-award-bold: "\e94d";
$feather-bar-chart-light: "\e94e";
$feather-bar-chart: "\e94f";
$feather-bar-chart-bold: "\e950";
$feather-bar-chart-2-light: "\e951";
$feather-bar-chart-2: "\e952";
$feather-bar-chart-2-bold: "\e953";
$feather-battery-light: "\e954";
$feather-battery: "\e955";
$feather-battery-bold: "\e956";
$feather-battery-charging-light: "\e957";
$feather-battery-charging: "\e958";
$feather-battery-charging-bold: "\e959";
$feather-bell-light: "\e95a";
$feather-bell: "\e95b";
$feather-bell-bold: "\e95c";
$feather-bell-off-light: "\e95d";
$feather-bell-off: "\e95e";
$feather-bell-off-bold: "\e95f";
$feather-bluetooth-light: "\e960";
$feather-bluetooth: "\e961";
$feather-bluetooth-bold: "\e962";
$feather-bold-light: "\e963";
$feather-bold: "\e964";
$feather-bold-bold: "\e965";
$feather-book-light: "\e966";
$feather-book: "\e967";
$feather-book-bold: "\e968";
$feather-book-open-light: "\e969";
$feather-book-open: "\e96a";
$feather-book-open-bold: "\e96b";
$feather-bookmark-light: "\e96c";
$feather-bookmark: "\e96d";
$feather-bookmark-bold: "\e96e";
$feather-box-light: "\e96f";
$feather-box: "\e970";
$feather-box-bold: "\e971";
$feather-briefcase-light: "\e972";
$feather-briefcase: "\e973";
$feather-briefcase-bold: "\e974";
$feather-calendar-light: "\e975";
$feather-calendar: "\e976";
$feather-calendar-bold: "\e977";
$feather-camera-light: "\e978";
$feather-camera: "\e979";
$feather-camera-bold: "\e97a";
$feather-camera-off-light: "\e97b";
$feather-camera-off: "\e97c";
$feather-camera-off-bold: "\e97d";
$feather-cast-light: "\e97e";
$feather-cast: "\e97f";
$feather-cast-bold: "\e980";
$feather-check-light: "\e981";
$feather-check: "\e982";
$feather-check-bold: "\e983";
$feather-check-circle-light: "\e984";
$feather-check-circle: "\e985";
$feather-check-circle-bold: "\e986";
$feather-check-square-light: "\e987";
$feather-check-square: "\e988";
$feather-check-square-bold: "\e989";
$feather-chevron-down-light: "\e98a";
$feather-chevron-down: "\e98b";
$feather-chevron-down-bold: "\e98c";
$feather-chevron-left-light: "\e98d";
$feather-chevron-left: "\e98e";
$feather-chevron-left-bold: "\e98f";
$feather-chevron-right-light: "\e990";
$feather-chevron-right: "\e991";
$feather-chevron-right-bold: "\e992";
$feather-chevron-up-light: "\e993";
$feather-chevron-up: "\e994";
$feather-chevron-up-bold: "\e995";
$feather-chevrons-down-light: "\e996";
$feather-chevrons-down: "\e997";
$feather-chevrons-down-bold: "\e998";
$feather-chevrons-left-light: "\e999";
$feather-chevrons-left: "\e99a";
$feather-chevrons-left-bold: "\e99b";
$feather-chevrons-right-light: "\e99c";
$feather-chevrons-right: "\e99d";
$feather-chevrons-right-bold: "\e99e";
$feather-chevrons-up-light: "\e99f";
$feather-chevrons-up: "\e9a0";
$feather-chevrons-up-bold: "\e9a1";
$feather-chrome-light: "\e9a2";
$feather-chrome: "\e9a3";
$feather-chrome-bold: "\e9a4";
$feather-circle-light: "\e9a5";
$feather-circle: "\e9a6";
$feather-circle-bold: "\e9a7";
$feather-clipboard-light: "\e9a8";
$feather-clipboard: "\e9a9";
$feather-clipboard-bold: "\e9aa";
$feather-clock-light: "\e9ab";
$feather-clock: "\e9ac";
$feather-clock-bold: "\e9ad";
$feather-cloud-light: "\e9ae";
$feather-cloud: "\e9af";
$feather-cloud-bold: "\e9b0";
$feather-cloud-drizzle-light: "\e9b1";
$feather-cloud-drizzle: "\e9b2";
$feather-cloud-drizzle-bold: "\e9b3";
$feather-cloud-lightning-light: "\e9b4";
$feather-cloud-lightning: "\e9b5";
$feather-cloud-lightning-bold: "\e9b6";
$feather-cloud-off-light: "\e9b7";
$feather-cloud-off: "\e9b8";
$feather-cloud-off-bold: "\e9b9";
$feather-cloud-rain-light: "\e9ba";
$feather-cloud-rain: "\e9bb";
$feather-cloud-rain-bold: "\e9bc";
$feather-cloud-snow-light: "\e9bd";
$feather-cloud-snow: "\e9be";
$feather-cloud-snow-bold: "\e9bf";
$feather-code-light: "\e9c0";
$feather-code: "\e9c1";
$feather-code-bold: "\e9c2";
$feather-codepen-light: "\e9c3";
$feather-codepen: "\e9c4";
$feather-codepen-bold: "\e9c5";
$feather-codesandbox-light: "\e9c6";
$feather-codesandbox: "\e9c7";
$feather-codesandbox-bold: "\e9c8";
$feather-coffee-light: "\e9c9";
$feather-coffee: "\e9ca";
$feather-coffee-bold: "\e9cb";
$feather-columns-light: "\e9cc";
$feather-columns: "\e9cd";
$feather-columns-bold: "\e9ce";
$feather-command-light: "\e9cf";
$feather-command: "\e9d0";
$feather-command-bold: "\e9d1";
$feather-compass-light: "\e9d2";
$feather-compass: "\e9d3";
$feather-compass-bold: "\e9d4";
$feather-copy-light: "\e9d5";
$feather-copy: "\e9d6";
$feather-copy-bold: "\e9d7";
$feather-corner-down-left-light: "\e9d8";
$feather-corner-down-left: "\e9d9";
$feather-corner-down-left-bold: "\e9da";
$feather-corner-down-right-light: "\e9db";
$feather-corner-down-right: "\e9dc";
$feather-corner-down-right-bold: "\e9dd";
$feather-corner-left-down-light: "\e9de";
$feather-corner-left-down: "\e9df";
$feather-corner-left-down-bold: "\e9e0";
$feather-corner-left-up-light: "\e9e1";
$feather-corner-left-up: "\e9e2";
$feather-corner-left-up-bold: "\e9e3";
$feather-corner-right-down-light: "\e9e4";
$feather-corner-right-down: "\e9e5";
$feather-corner-right-down-bold: "\e9e6";
$feather-corner-right-up-light: "\e9e7";
$feather-corner-right-up: "\e9e8";
$feather-corner-right-up-bold: "\e9e9";
$feather-corner-up-left-light: "\e9ea";
$feather-corner-up-left: "\e9eb";
$feather-corner-up-left-bold: "\e9ec";
$feather-corner-up-right-light: "\e9ed";
$feather-corner-up-right: "\e9ee";
$feather-corner-up-right-bold: "\e9ef";
$feather-cpu-light: "\e9f0";
$feather-cpu: "\e9f1";
$feather-cpu-bold: "\e9f2";
$feather-credit-card-light: "\e9f3";
$feather-credit-card: "\e9f4";
$feather-credit-card-bold: "\e9f5";
$feather-crop-light: "\e9f6";
$feather-crop: "\e9f7";
$feather-crop-bold: "\e9f8";
$feather-crosshair-light: "\e9f9";
$feather-crosshair: "\e9fa";
$feather-crosshair-bold: "\e9fb";
$feather-database-light: "\e9fc";
$feather-database: "\e9fd";
$feather-database-bold: "\e9fe";
$feather-delete-light: "\e9ff";
$feather-delete: "\ea00";
$feather-delete-bold: "\ea01";
$feather-disc-light: "\ea02";
$feather-disc: "\ea03";
$feather-disc-bold: "\ea04";
$feather-divide-light: "\ea05";
$feather-divide: "\ea06";
$feather-divide-bold: "\ea07";
$feather-divide-circle-light: "\ea08";
$feather-divide-circle: "\ea09";
$feather-divide-circle-bold: "\ea0a";
$feather-divide-square-light: "\ea0b";
$feather-divide-square: "\ea0c";
$feather-divide-square-bold: "\ea0d";
$feather-dollar-sign-light: "\ea0e";
$feather-dollar-sign: "\ea0f";
$feather-dollar-sign-bold: "\ea10";
$feather-download-light: "\ea11";
$feather-download: "\ea12";
$feather-download-bold: "\ea13";
$feather-download-cloud-light: "\ea14";
$feather-download-cloud: "\ea15";
$feather-download-cloud-bold: "\ea16";
$feather-dribbble-light: "\ea17";
$feather-dribbble: "\ea18";
$feather-dribbble-bold: "\ea19";
$feather-droplet-light: "\ea1a";
$feather-droplet: "\ea1b";
$feather-droplet-bold: "\ea1c";
$feather-edit-2-light: "\ea1d";
$feather-edit-2: "\ea1e";
$feather-edit-2-bold: "\ea1f";
$feather-edit-3-light: "\ea20";
$feather-edit-3: "\ea21";
$feather-edit-3-bold: "\ea22";
$feather-edit-light: "\ea23";
$feather-edit: "\ea24";
$feather-edit-bold: "\ea25";
$feather-external-link-light: "\ea26";
$feather-external-link: "\ea27";
$feather-external-link-bold: "\ea28";
$feather-eye-light: "\ea29";
$feather-eye: "\ea2a";
$feather-eye-bold: "\ea2b";
$feather-eye-off-light: "\ea2c";
$feather-eye-off: "\ea2d";
$feather-eye-off-bold: "\ea2e";
$feather-facebook-light: "\ea2f";
$feather-facebook: "\ea30";
$feather-facebook-bold: "\ea31";
$feather-fast-forward-light: "\ea32";
$feather-fast-forward: "\ea33";
$feather-fast-forward-bold: "\ea34";
$feather-feather-light: "\ea35";
$feather-feather: "\ea36";
$feather-feather-bold: "\ea37";
$feather-figma-light: "\ea38";
$feather-figma: "\ea39";
$feather-figma-bold: "\ea3a";
$feather-file-light: "\ea3b";
$feather-file: "\ea3c";
$feather-file-bold: "\ea3d";
$feather-file-minus-light: "\ea3e";
$feather-file-minus: "\ea3f";
$feather-file-minus-bold: "\ea40";
$feather-file-plus-light: "\ea41";
$feather-file-plus: "\ea42";
$feather-file-plus-bold: "\ea43";
$feather-file-text-light: "\ea44";
$feather-file-text: "\ea45";
$feather-file-text-bold: "\ea46";
$feather-film-light: "\ea47";
$feather-film: "\ea48";
$feather-film-bold: "\ea49";
$feather-filter-light: "\ea4a";
$feather-filter: "\ea4b";
$feather-filter-bold: "\ea4c";
$feather-flag-light: "\ea4d";
$feather-flag: "\ea4e";
$feather-flag-bold: "\ea4f";
$feather-folder-light: "\ea50";
$feather-folder: "\ea51";
$feather-folder-bold: "\ea52";
$feather-folder-minus-light: "\ea53";
$feather-folder-minus: "\ea54";
$feather-folder-minus-bold: "\ea55";
$feather-folder-plus-light: "\ea56";
$feather-folder-plus: "\ea57";
$feather-folder-plus-bold: "\ea58";
$feather-framer-light: "\ea59";
$feather-framer: "\ea5a";
$feather-framer-bold: "\ea5b";
$feather-frown-light: "\ea5c";
$feather-frown: "\ea5d";
$feather-frown-bold: "\ea5e";
$feather-gift-light: "\ea5f";
$feather-gift: "\ea60";
$feather-gift-bold: "\ea61";
$feather-git-branch-light: "\ea62";
$feather-git-branch: "\ea63";
$feather-git-branch-bold: "\ea64";
$feather-git-commit-light: "\ea65";
$feather-git-commit: "\ea66";
$feather-git-commit-bold: "\ea67";
$feather-git-merge-light: "\ea68";
$feather-git-merge: "\ea69";
$feather-git-merge-bold: "\ea6a";
$feather-git-pull-request-light: "\ea6b";
$feather-git-pull-request: "\ea6c";
$feather-git-pull-request-bold: "\ea6d";
$feather-github-light: "\ea6e";
$feather-github: "\ea6f";
$feather-github-bold: "\ea70";
$feather-gitlab-light: "\ea71";
$feather-gitlab: "\ea72";
$feather-gitlab-bold: "\ea73";
$feather-globe-light: "\ea74";
$feather-globe: "\ea75";
$feather-globe-bold: "\ea76";
$feather-grid-light: "\ea77";
$feather-grid: "\ea78";
$feather-grid-bold: "\ea79";
$feather-hard-drive-light: "\ea7a";
$feather-hard-drive: "\ea7b";
$feather-hard-drive-bold: "\ea7c";
$feather-hash-light: "\ea7d";
$feather-hash: "\ea7e";
$feather-hash-bold: "\ea7f";
$feather-headphones-light: "\ea80";
$feather-headphones: "\ea81";
$feather-headphones-bold: "\ea82";
$feather-heart-light: "\ea83";
$feather-heart: "\ea84";
$feather-heart-bold: "\ea85";
$feather-help-circle-light: "\ea86";
$feather-help-circle: "\ea87";
$feather-help-circle-bold: "\ea88";
$feather-hexagon-light: "\ea89";
$feather-hexagon: "\ea8a";
$feather-hexagon-bold: "\ea8b";
$feather-home-light: "\ea8c";
$feather-home: "\ea8d";
$feather-home-bold: "\ea8e";
$feather-image-light: "\ea8f";
$feather-image: "\ea90";
$feather-image-bold: "\ea91";
$feather-inbox-light: "\ea92";
$feather-inbox: "\ea93";
$feather-inbox-bold: "\ea94";
$feather-info-light: "\ea95";
$feather-info: "\ea96";
$feather-info-bold: "\ea97";
$feather-instagram-light: "\ea98";
$feather-instagram: "\ea99";
$feather-instagram-bold: "\ea9a";
$feather-italic-light: "\ea9b";
$feather-italic: "\ea9c";
$feather-italic-bold: "\ea9d";
$feather-key-light: "\ea9e";
$feather-key: "\ea9f";
$feather-key-bold: "\eaa0";
$feather-layers-light: "\eaa1";
$feather-layers: "\eaa2";
$feather-layers-bold: "\eaa3";
$feather-layout-light: "\eaa4";
$feather-layout: "\eaa5";
$feather-layout-bold: "\eaa6";
$feather-life-buoy-light: "\eaa7";
$feather-life-buoy: "\eaa8";
$feather-life-buoy-bold: "\eaa9";
$feather-link-2-light: "\eaaa";
$feather-link-2: "\eaab";
$feather-link-2-bold: "\eaac";
$feather-link-light: "\eaad";
$feather-link: "\eaae";
$feather-link-bold: "\eaaf";
$feather-linkedin-light: "\eab0";
$feather-linkedin: "\eab1";
$feather-linkedin-bold: "\eab2";
$feather-list-light: "\eab3";
$feather-list: "\eab4";
$feather-list-bold: "\eab5";
$feather-loader-light: "\eab6";
$feather-loader: "\eab7";
$feather-loader-bold: "\eab8";
$feather-lock-light: "\eab9";
$feather-lock: "\eaba";
$feather-lock-bold: "\eabb";
$feather-log-in-light: "\eabc";
$feather-log-in: "\eabd";
$feather-log-in-bold: "\eabe";
$feather-log-out-light: "\eabf";
$feather-log-out: "\eac0";
$feather-log-out-bold: "\eac1";
$feather-mail-light: "\eac2";
$feather-mail: "\eac3";
$feather-mail-bold: "\eac4";
$feather-map-light: "\eac5";
$feather-map: "\eac6";
$feather-map-bold: "\eac7";
$feather-map-pin-light: "\eac8";
$feather-map-pin: "\eac9";
$feather-map-pin-bold: "\eaca";
$feather-maximize-2-light: "\eacb";
$feather-maximize-2: "\eacc";
$feather-maximize-2-bold: "\eacd";
$feather-maximize-light: "\eace";
$feather-maximize: "\eacf";
$feather-maximize-bold: "\ead0";
$feather-meh-light: "\ead1";
$feather-meh: "\ead2";
$feather-meh-bold: "\ead3";
$feather-menu-light: "\ead4";
$feather-menu: "\ead5";
$feather-menu-bold: "\ead6";
$feather-message-circle-light: "\ead7";
$feather-message-circle: "\ead8";
$feather-message-circle-bold: "\ead9";
$feather-message-square-light: "\eada";
$feather-message-square: "\eadb";
$feather-message-square-bold: "\eadc";
$feather-mic-light: "\eadd";
$feather-mic: "\eade";
$feather-mic-bold: "\eadf";
$feather-mic-off-light: "\eae0";
$feather-mic-off: "\eae1";
$feather-mic-off-bold: "\eae2";
$feather-minimize-2-light: "\eae3";
$feather-minimize-2: "\eae4";
$feather-minimize-2-bold: "\eae5";
$feather-minimize-light: "\eae6";
$feather-minimize: "\eae7";
$feather-minimize-bold: "\eae8";
$feather-minus-circle-light: "\eae9";
$feather-minus-circle: "\eaea";
$feather-minus-circle-bold: "\eaeb";
$feather-minus-square: "\eaec";
$feather-minus-square-bold: "\eaed";
$feather-minus-square-light: "\eaee";
$feather-minus-light: "\eaef";
$feather-minus: "\eaf0";
$feather-minus-bold: "\eaf1";
$feather-monitor-light: "\eaf2";
$feather-monitor: "\eaf3";
$feather-monitor-bold: "\eaf4";
$feather-moon-light: "\eaf5";
$feather-moon: "\eaf6";
$feather-moon-bold: "\eaf7";
$feather-more-horizontal-light: "\eaf8";
$feather-more-horizontal: "\eaf9";
$feather-more-horizontal-bold: "\eafa";
$feather-more-vertical-light: "\eafb";
$feather-more-vertical: "\eafc";
$feather-more-vertical-bold: "\eafd";
$feather-mouse-pointer-light: "\eafe";
$feather-mouse-pointer: "\eaff";
$feather-mouse-pointer-bold: "\eb00";
$feather-move-light: "\eb01";
$feather-move: "\eb02";
$feather-move-bold: "\eb03";
$feather-music-light: "\eb04";
$feather-music: "\eb05";
$feather-music-bold: "\eb06";
$feather-navigation-2-light: "\eb07";
$feather-navigation-2: "\eb08";
$feather-navigation-2-bold: "\eb09";
$feather-navigation-light: "\eb0a";
$feather-navigation: "\eb0b";
$feather-navigation-bold: "\eb0c";
$feather-octagon-light: "\eb0d";
$feather-octagon: "\eb0e";
$feather-octagon-bold: "\eb0f";
$feather-package-light: "\eb10";
$feather-package: "\eb11";
$feather-package-bold: "\eb12";
$feather-paperclip-light: "\eb13";
$feather-paperclip: "\eb14";
$feather-paperclip-bold: "\eb15";
$feather-pause-light: "\eb16";
$feather-pause: "\eb17";
$feather-pause-bold: "\eb18";
$feather-pause-circle-light: "\eb19";
$feather-pause-circle: "\eb1a";
$feather-pause-circle-bold: "\eb1b";
$feather-pen-tool-light: "\eb1c";
$feather-pen-tool: "\eb1d";
$feather-pen-tool-bold: "\eb1e";
$feather-percent-light: "\eb1f";
$feather-percent: "\eb20";
$feather-percent-bold: "\eb21";
$feather-phone-call-light: "\eb22";
$feather-phone-call: "\eb23";
$feather-phone-call-bold: "\eb24";
$feather-phone-forwarded-light: "\eb25";
$feather-phone-forwarded: "\eb26";
$feather-phone-forwarded-bold: "\eb27";
$feather-phone-incoming-light: "\eb28";
$feather-phone-incoming: "\eb29";
$feather-phone-incoming-bold: "\eb2a";
$feather-phone-missed-light: "\eb2b";
$feather-phone-missed: "\eb2c";
$feather-phone-missed-bold: "\eb2d";
$feather-phone-off-light: "\eb2e";
$feather-phone-off: "\eb2f";
$feather-phone-off-bold: "\eb30";
$feather-phone-outgoing-light: "\eb31";
$feather-phone-outgoing: "\eb32";
$feather-phone-outgoing-bold: "\eb33";
$feather-phone-light: "\eb34";
$feather-phone: "\eb35";
$feather-phone-bold: "\eb36";
$feather-pie-chart-light: "\eb37";
$feather-pie-chart: "\eb38";
$feather-pie-chart-bold: "\eb39";
$feather-play-light: "\eb3a";
$feather-play: "\eb3b";
$feather-play-bold: "\eb3c";
$feather-play-circle-light: "\eb3d";
$feather-play-circle: "\eb3e";
$feather-play-circle-bold: "\eb3f";
$feather-plus-circle-light: "\eb40";
$feather-plus-circle: "\eb41";
$feather-plus-circle-bold: "\eb42";
$feather-plus-square-light: "\eb43";
$feather-plus-square: "\eb44";
$feather-plus-square-bold: "\eb45";
$feather-plus-light: "\eb46";
$feather-plus: "\eb47";
$feather-plus-bold: "\eb48";
$feather-pocket-light: "\eb49";
$feather-pocket: "\eb4a";
$feather-pocket-bold: "\eb4b";
$feather-power-light: "\eb4c";
$feather-power: "\eb4d";
$feather-power-bold: "\eb4e";
$feather-printer-light: "\eb4f";
$feather-printer: "\eb50";
$feather-printer-bold: "\eb51";
$feather-radio-light: "\eb52";
$feather-radio: "\eb53";
$feather-radio-bold: "\eb54";
$feather-refresh-ccw-light: "\eb55";
$feather-refresh-ccw: "\eb56";
$feather-refresh-ccw-bold: "\eb57";
$feather-refresh-cw-light: "\eb58";
$feather-refresh-cw: "\eb59";
$feather-refresh-cw-bold: "\eb5a";
$feather-repeat-light: "\eb5b";
$feather-repeat: "\eb5c";
$feather-repeat-bold: "\eb5d";
$feather-rewind-light: "\eb5e";
$feather-rewind: "\eb5f";
$feather-rewind-bold: "\eb60";
$feather-rotate-ccw-light: "\eb61";
$feather-rotate-ccw: "\eb62";
$feather-rotate-ccw-bold: "\eb63";
$feather-rotate-cw-light: "\eb64";
$feather-rotate-cw: "\eb65";
$feather-rotate-cw-bold: "\eb66";
$feather-rss-light: "\eb67";
$feather-rss: "\eb68";
$feather-rss-bold: "\eb69";
$feather-save-light: "\eb6a";
$feather-save: "\eb6b";
$feather-save-bold: "\eb6c";
$feather-scissors-light: "\eb6d";
$feather-scissors: "\eb6e";
$feather-scissors-bold: "\eb6f";
$feather-search-light: "\eb70";
$feather-search: "\eb71";
$feather-search-bold: "\eb72";
$feather-send-light: "\eb73";
$feather-send: "\eb74";
$feather-send-bold: "\eb75";
$feather-server-light: "\eb76";
$feather-server: "\eb77";
$feather-server-bold: "\eb78";
$feather-settings-light: "\eb79";
$feather-settings: "\eb7a";
$feather-settings-bold: "\eb7b";
$feather-share-2-light: "\eb7c";
$feather-share-2: "\eb7d";
$feather-share-2-bold: "\eb7e";
$feather-share-light: "\eb7f";
$feather-share: "\eb80";
$feather-share-bold: "\eb81";
$feather-shield-light: "\eb82";
$feather-shield: "\eb83";
$feather-shield-bold: "\eb84";
$feather-shield-off-light: "\eb85";
$feather-shield-off: "\eb86";
$feather-shield-off-bold: "\eb87";
$feather-shopping-bag-light: "\eb88";
$feather-shopping-bag: "\eb89";
$feather-shopping-bag-bold: "\eb8a";
$feather-shopping-cart-light: "\eb8b";
$feather-shopping-cart: "\eb8c";
$feather-shopping-cart-bold: "\eb8d";
$feather-shuffle-light: "\eb8e";
$feather-shuffle: "\eb8f";
$feather-shuffle-bold: "\eb90";
$feather-sidebar-light: "\eb91";
$feather-sidebar: "\eb92";
$feather-sidebar-bold: "\eb93";
$feather-skip-back-light: "\eb94";
$feather-skip-back: "\eb95";
$feather-skip-back-bold: "\eb96";
$feather-skip-forward-light: "\eb97";
$feather-skip-forward: "\eb98";
$feather-skip-forward-bold: "\eb99";
$feather-slack-light: "\eb9a";
$feather-slack: "\eb9b";
$feather-slack-bold: "\eb9c";
$feather-slash-light: "\eb9d";
$feather-slash: "\eb9e";
$feather-slash-bold: "\eb9f";
$feather-sliders-light: "\eba0";
$feather-sliders: "\eba1";
$feather-sliders-bold: "\eba2";
$feather-smartphone-light: "\eba3";
$feather-smartphone: "\eba4";
$feather-smartphone-bold: "\eba5";
$feather-smile-light: "\eba6";
$feather-smile: "\eba7";
$feather-smile-bold: "\eba8";
$feather-speaker-light: "\eba9";
$feather-speaker: "\ebaa";
$feather-speaker-bold: "\ebab";
$feather-square-light: "\ebac";
$feather-square: "\ebad";
$feather-square-bold: "\ebae";
$feather-star-light: "\ebaf";
$feather-star: "\ebb0";
$feather-star-bold: "\ebb1";
$feather-stop-circle-light: "\ebb2";
$feather-stop-circle: "\ebb3";
$feather-stop-circle-bold: "\ebb4";
$feather-sun-light: "\ebb5";
$feather-sun: "\ebb6";
$feather-sun-bold: "\ebb7";
$feather-sunrise-light: "\ebb8";
$feather-sunrise: "\ebb9";
$feather-sunrise-bold: "\ebba";
$feather-sunset-light: "\ebbb";
$feather-sunset: "\ebbc";
$feather-sunset-bold: "\ebbd";
$feather-table-light: "\ebbe";
$feather-table: "\ebbf";
$feather-table-bold: "\ebc0";
$feather-tablet-light: "\ebc1";
$feather-tablet: "\ebc2";
$feather-tablet-bold: "\ebc3";
$feather-tag-light: "\ebc4";
$feather-tag: "\ebc5";
$feather-tag-bold: "\ebc6";
$feather-target-light: "\ebc7";
$feather-target: "\ebc8";
$feather-target-bold: "\ebc9";
$feather-terminal-light: "\ebca";
$feather-terminal: "\ebcb";
$feather-terminal-bold: "\ebcc";
$feather-thermometer-light: "\ebcd";
$feather-thermometer: "\ebce";
$feather-thermometer-bold: "\ebcf";
$feather-thumbs-down-light: "\ebd0";
$feather-thumbs-down: "\ebd1";
$feather-thumbs-down-bold: "\ebd2";
$feather-thumbs-up-light: "\ebd3";
$feather-thumbs-up: "\ebd4";
$feather-thumbs-up-bold: "\ebd5";
$feather-toggle-left-light: "\ebd6";
$feather-toggle-left: "\ebd7";
$feather-toggle-left-bold: "\ebd8";
$feather-toggle-right-light: "\ebd9";
$feather-toggle-right: "\ebda";
$feather-toggle-right-bold: "\ebdb";
$feather-tool-light: "\ebdc";
$feather-tool: "\ebdd";
$feather-tool-bold: "\ebde";
$feather-trash-2-light: "\ebdf";
$feather-trash-2: "\ebe0";
$feather-trash-2-bold: "\ebe1";
$feather-trash-light: "\ebe2";
$feather-trash: "\ebe3";
$feather-trash-bold: "\ebe4";
$feather-trello-light: "\ebe5";
$feather-trello: "\ebe6";
$feather-trello-bold: "\ebe7";
$feather-trending-down-light: "\ebe8";
$feather-trending-down: "\ebe9";
$feather-trending-down-bold: "\ebea";
$feather-trending-up-light: "\ebeb";
$feather-trending-up: "\ebec";
$feather-trending-up-bold: "\ebed";
$feather-triangle-light: "\ebee";
$feather-triangle: "\ebef";
$feather-triangle-bold: "\ebf0";
$feather-truck-light: "\ebf1";
$feather-truck: "\ebf2";
$feather-truck-bold: "\ebf3";
$feather-tv-light: "\ebf4";
$feather-tv: "\ebf5";
$feather-tv-bold: "\ebf6";
$feather-twitch-light: "\ebf7";
$feather-twitch: "\ebf8";
$feather-twitch-bold: "\ebf9";
$feather-twitter-light: "\ebfa";
$feather-twitter: "\ebfb";
$feather-twitter-bold: "\ebfc";
$feather-type-light: "\ebfd";
$feather-type: "\ebfe";
$feather-type-bold: "\ebff";
$feather-umbrella-light: "\ec00";
$feather-umbrella: "\ec01";
$feather-umbrella-bold: "\ec02";
$feather-underline-light: "\ec03";
$feather-underline: "\ec04";
$feather-underline-bold: "\ec05";
$feather-unlock-light: "\ec06";
$feather-unlock: "\ec07";
$feather-unlock-bold: "\ec08";
$feather-upload-cloud-light: "\ec09";
$feather-upload-cloud: "\ec0a";
$feather-upload-cloud-bold: "\ec0b";
$feather-upload-light: "\ec0c";
$feather-upload: "\ec0d";
$feather-upload-bold: "\ec0e";
$feather-user-check-light: "\ec0f";
$feather-user-check: "\ec10";
$feather-user-check-bold: "\ec11";
$feather-user-minus-light: "\ec12";
$feather-user-minus: "\ec13";
$feather-user-minus-bold: "\ec14";
$feather-user-plus-light: "\ec15";
$feather-user-plus: "\ec16";
$feather-user-plus-bold: "\ec17";
$feather-user-x-light: "\ec18";
$feather-user-x: "\ec19";
$feather-user-x-bold: "\ec1a";
$feather-user-light: "\ec1b";
$feather-user: "\ec1c";
$feather-user-bold: "\ec1d";
$feather-users-light: "\ec1e";
$feather-users: "\ec1f";
$feather-users-bold: "\ec20";
$feather-video-light: "\ec21";
$feather-video: "\ec22";
$feather-video-bold: "\ec23";
$feather-video-off-light: "\ec24";
$feather-video-off: "\ec25";
$feather-video-off-bold: "\ec26";
$feather-voicemail-light: "\ec27";
$feather-voicemail: "\ec28";
$feather-voicemail-bold: "\ec29";
$feather-volume-1-light: "\ec2a";
$feather-volume-1: "\ec2b";
$feather-volume-1-bold: "\ec2c";
$feather-volume-2-light: "\ec2d";
$feather-volume-2: "\ec2e";
$feather-volume-2-bold: "\ec2f";
$feather-volume-x-light: "\ec30";
$feather-volume-x: "\ec31";
$feather-volume-x-bold: "\ec32";
$feather-volume-light: "\ec33";
$feather-volume: "\ec34";
$feather-volume-bold: "\ec35";
$feather-watch-light: "\ec36";
$feather-watch: "\ec37";
$feather-watch-bold: "\ec38";
$feather-wifi-light: "\ec39";
$feather-wifi: "\ec3a";
$feather-wifi-bold: "\ec3b";
$feather-wifi-off-light: "\ec3c";
$feather-wifi-off: "\ec3d";
$feather-wifi-off-bold: "\ec3e";
$feather-wind-light: "\ec3f";
$feather-wind: "\ec40";
$feather-wind-bold: "\ec41";
$feather-x-circle-light: "\ec42";
$feather-x-circle: "\ec43";
$feather-x-circle-bold: "\ec44";
$feather-x-octagon-light: "\ec45";
$feather-x-octagon: "\ec46";
$feather-x-octagon-bold: "\ec47";
$feather-x-square-light: "\ec48";
$feather-x-square: "\ec49";
$feather-x-square-bold: "\ec4a";
$feather-x-light: "\ec4b";
$feather-x: "\ec4c";
$feather-x-bold: "\ec4d";
$feather-youtube-light: "\ec4e";
$feather-youtube: "\ec4f";
$feather-youtube-bold: "\ec50";
$feather-zap-light: "\ec51";
$feather-zap: "\ec52";
$feather-zap-bold: "\ec53";
$feather-zap-off-light: "\ec54";
$feather-zap-off: "\ec55";
$feather-zap-off-bold: "\ec56";
$feather-zoom-in-light: "\ec57";
$feather-zoom-in: "\ec58";
$feather-zoom-in-bold: "\ec59";
$feather-zoom-out-light: "\ec5a";
$feather-zoom-out: "\ec5b";
$feather-zoom-out-bold: "\ec5c";

