$feather-activity: "\e900";
$feather-airplay: "\e901";
$feather-alert-circle: "\e902";
$feather-alert-octagon: "\e903";
$feather-alert-triangle: "\e904";
$feather-align-center: "\e905";
$feather-align-justify: "\e906";
$feather-align-left: "\e907";
$feather-align-right: "\e908";
$feather-anchor: "\e909";
$feather-aperture: "\e90a";
$feather-archive: "\e90b";
$feather-arrow-down-circle: "\e90c";
$feather-arrow-down-left: "\e90d";
$feather-arrow-down: "\e90e";
$feather-arrow-down-right: "\e90f";
$feather-arrow-left-circle: "\e910";
$feather-arrow-left: "\e911";
$feather-arrow-right-circle: "\e912";
$feather-arrow-right: "\e913";
$feather-arrow-up-circle: "\e914";
$feather-arrow-up-left: "\e915";
$feather-arrow-up: "\e916";
$feather-arrow-up-right: "\e917";
$feather-at-sign: "\e918";
$feather-award: "\e919";
$feather-bar-chart-2: "\e91a";
$feather-bar-chart: "\e91b";
$feather-battery-charging: "\e91c";
$feather-battery: "\e91d";
$feather-bell-off: "\e91e";
$feather-bell: "\e91f";
$feather-bluetooth: "\e920";
$feather-bold: "\e921";
$feather-bookmark: "\e922";
$feather-book-open: "\e923";
$feather-book: "\e924";
$feather-box: "\e925";
$feather-briefcase: "\e926";
$feather-calendar: "\e927";
$feather-camera-off: "\e928";
$feather-camera: "\e929";
$feather-cast: "\e92a";
$feather-check-circle: "\e92b";
$feather-check: "\e92c";
$feather-check-square: "\e92d";
$feather-chevron-down: "\e92e";
$feather-chevron-left: "\e92f";
$feather-chevron-right: "\e930";
$feather-chevrons-down: "\e931";
$feather-chevrons-left: "\e932";
$feather-chevrons-right: "\e933";
$feather-chevrons-up: "\e934";
$feather-chevron-up: "\e935";
$feather-chrome: "\e936";
$feather-circle: "\e937";
$feather-clipboard: "\e938";
$feather-clock: "\e939";
$feather-cloud-drizzle: "\e93a";
$feather-cloud-lightning: "\e93b";
$feather-cloud-off: "\e93c";
$feather-cloud-rain: "\e93d";
$feather-cloud: "\e93e";
$feather-cloud-snow: "\e93f";
$feather-codepen: "\e940";
$feather-code: "\e941";
$feather-codesandbox: "\e942";
$feather-coffee: "\e943";
$feather-columns: "\e944";
$feather-command: "\e945";
$feather-compass: "\e946";
$feather-copy: "\e947";
$feather-corner-down-left: "\e948";
$feather-corner-down-right: "\e949";
$feather-corner-left-down: "\e94a";
$feather-corner-left-up: "\e94b";
$feather-corner-right-down: "\e94c";
$feather-corner-right-up: "\e94d";
$feather-corner-up-left: "\e94e";
$feather-corner-up-right: "\e94f";
$feather-cpu: "\e950";
$feather-credit-card: "\e951";
$feather-crop: "\e952";
$feather-crosshair: "\e953";
$feather-database: "\e954";
$feather-delete: "\e955";
$feather-disc: "\e956";
$feather-divide-circle: "\e957";
$feather-divide: "\e958";
$feather-divide-square: "\e959";
$feather-dollar-sign: "\e95a";
$feather-download-cloud: "\e95b";
$feather-download: "\e95c";
$feather-dribbble: "\e95d";
$feather-droplet: "\e95e";
$feather-edit-2: "\e95f";
$feather-edit-3: "\e960";
$feather-edit: "\e961";
$feather-external-link: "\e962";
$feather-eye-off: "\e963";
$feather-eye: "\e964";
$feather-facebook: "\e965";
$feather-fast-forward: "\e966";
$feather-feather: "\e967";
$feather-figma: "\e968";
$feather-file-minus: "\e969";
$feather-file-plus: "\e96a";
$feather-file: "\e96b";
$feather-file-text: "\e96c";
$feather-film: "\e96d";
$feather-filter: "\e96e";
$feather-flag: "\e96f";
$feather-folder-minus: "\e970";
$feather-folder-plus: "\e971";
$feather-folder: "\e972";
$feather-framer: "\e973";
$feather-frown: "\e974";
$feather-gift: "\e975";
$feather-git-branch: "\e976";
$feather-git-commit: "\e977";
$feather-github: "\e978";
$feather-gitlab: "\e979";
$feather-git-merge: "\e97a";
$feather-git-pull-request: "\e97b";
$feather-globe: "\e97c";
$feather-grid: "\e97d";
$feather-hard-drive: "\e97e";
$feather-hash: "\e97f";
$feather-headphones: "\e980";
$feather-heart: "\e981";
$feather-help-circle: "\e982";
$feather-hexagon: "\e983";
$feather-home: "\e984";
$feather-image: "\e985";
$feather-inbox: "\e986";
$feather-info: "\e987";
$feather-instagram: "\e988";
$feather-italic: "\e989";
$feather-key: "\e98a";
$feather-layers: "\e98b";
$feather-layout: "\e98c";
$feather-life-buoy: "\e98d";
$feather-link-2: "\e98e";
$feather-linkedin: "\e98f";
$feather-link: "\e990";
$feather-list: "\e991";
$feather-loader: "\e992";
$feather-lock: "\e993";
$feather-log-in: "\e994";
$feather-log-out: "\e995";
$feather-mail: "\e996";
$feather-map-pin: "\e997";
$feather-map: "\e998";
$feather-maximize-2: "\e999";
$feather-maximize: "\e99a";
$feather-meh: "\e99b";
$feather-menu: "\e99c";
$feather-message-circle: "\e99d";
$feather-message-square: "\e99e";
$feather-mic-off: "\e99f";
$feather-mic: "\e9a0";
$feather-minimize-2: "\e9a1";
$feather-minimize: "\e9a2";
$feather-minus-circle: "\e9a3";
$feather-minus: "\e9a4";
$feather-minus-square: "\e9a5";
$feather-monitor: "\e9a6";
$feather-moon: "\e9a7";
$feather-more-horizontal: "\e9a8";
$feather-more-vertical: "\e9a9";
$feather-mouse-pointer: "\e9aa";
$feather-move: "\e9ab";
$feather-music: "\e9ac";
$feather-navigation-2: "\e9ad";
$feather-navigation: "\e9ae";
$feather-octagon: "\e9af";
$feather-package: "\e9b0";
$feather-paperclip: "\e9b1";
$feather-pause-circle: "\e9b2";
$feather-pause: "\e9b3";
$feather-pen-tool: "\e9b4";
$feather-percent: "\e9b5";
$feather-phone-call: "\e9b6";
$feather-phone-forwarded: "\e9b7";
$feather-phone-incoming: "\e9b8";
$feather-phone-missed: "\e9b9";
$feather-phone-off: "\e9ba";
$feather-phone-outgoing: "\e9bb";
$feather-phone: "\e9bc";
$feather-pie-chart: "\e9bd";
$feather-play-circle: "\e9be";
$feather-play: "\e9bf";
$feather-plus-circle: "\e9c0";
$feather-plus: "\e9c1";
$feather-plus-square: "\e9c2";
$feather-pocket: "\e9c3";
$feather-power: "\e9c4";
$feather-printer: "\e9c5";
$feather-radio: "\e9c6";
$feather-refresh-ccw: "\e9c7";
$feather-refresh-cw: "\e9c8";
$feather-repeat: "\e9c9";
$feather-rewind: "\e9ca";
$feather-rotate-ccw: "\e9cb";
$feather-rotate-cw: "\e9cc";
$feather-rss: "\e9cd";
$feather-save: "\e9ce";
$feather-scissors: "\e9cf";
$feather-search: "\e9d0";
$feather-send: "\e9d1";
$feather-server: "\e9d2";
$feather-settings: "\e9d3";
$feather-share-2: "\e9d4";
$feather-share: "\e9d5";
$feather-shield-off: "\e9d6";
$feather-shield: "\e9d7";
$feather-shopping-bag: "\e9d8";
$feather-shopping-cart: "\e9d9";
$feather-shuffle: "\e9da";
$feather-sidebar: "\e9db";
$feather-skip-back: "\e9dc";
$feather-skip-forward: "\e9dd";
$feather-slack: "\e9de";
$feather-slash: "\e9df";
$feather-sliders: "\e9e0";
$feather-smartphone: "\e9e1";
$feather-smile: "\e9e2";
$feather-speaker: "\e9e3";
$feather-square: "\e9e4";
$feather-star: "\e9e5";
$feather-stop-circle: "\e9e6";
$feather-sun: "\e9e7";
$feather-sunrise: "\e9e8";
$feather-sunset: "\e9e9";
$feather-table: "\e9ea";
$feather-tablet: "\e9eb";
$feather-tag: "\e9ec";
$feather-target: "\e9ed";
$feather-terminal: "\e9ee";
$feather-thermometer: "\e9ef";
$feather-thumbs-down: "\e9f0";
$feather-thumbs-up: "\e9f1";
$feather-toggle-left: "\e9f2";
$feather-toggle-right: "\e9f3";
$feather-tool: "\e9f4";
$feather-trash-2: "\e9f5";
$feather-trash: "\e9f6";
$feather-trello: "\e9f7";
$feather-trending-down: "\e9f8";
$feather-trending-up: "\e9f9";
$feather-triangle: "\e9fa";
$feather-truck: "\e9fb";
$feather-tv: "\e9fc";
$feather-twitch: "\e9fd";
$feather-twitter: "\e9fe";
$feather-type: "\e9ff";
$feather-umbrella: "\ea00";
$feather-underline: "\ea01";
$feather-unlock: "\ea02";
$feather-upload-cloud: "\ea03";
$feather-upload: "\ea04";
$feather-user-check: "\ea05";
$feather-user-minus: "\ea06";
$feather-user-plus: "\ea07";
$feather-user: "\ea08";
$feather-users: "\ea09";
$feather-user-x: "\ea0a";
$feather-video-off: "\ea0b";
$feather-video: "\ea0c";
$feather-voicemail: "\ea0d";
$feather-volume-1: "\ea0e";
$feather-volume-2: "\ea0f";
$feather-volume: "\ea10";
$feather-volume-x: "\ea11";
$feather-watch: "\ea12";
$feather-wifi-off: "\ea13";
$feather-wifi: "\ea14";
$feather-wind: "\ea15";
$feather-x-circle: "\ea16";
$feather-x-octagon: "\ea17";
$feather-x: "\ea18";
$feather-x-square: "\ea19";
$feather-youtube: "\ea1a";
$feather-zap-off: "\ea1b";
$feather-zap: "\ea1c";
$feather-zoom-in: "\ea1d";
$feather-zoom-out: "\ea1e";
