@use "../abstract/variables/typography" as font;
@use "../abstract/variables/colors";

@import "@/assets/fonts";


h1, h1::before { font-weight: $font-weight-bold !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &.has-hash::before {
    color: $lighten;
  }
}

.font-weight-medium   { font-weight: $font-weight-medium !important; }
.font-weight-semibold { font-weight: $font-weight-semibold !important; }

@include text-emphasis-variant(".text-primary", colors.$primary-darker, true);

@include apply-header-letter-spacing();

@include create-font-size-utils((14px: $font-size-sm, base: $font-size-base, 24px: $font-size-lg), $grid-breakpoints);