.flex-center {
  align-items:      center;
  display:          flex;
  justify-content:  center;
}

@include iterate-media-breakpoint-up-infix($grid-breakpoints) using ($infix) {
  @each $size, $length in $spacers {
    .gap#{$infix}-#{$size} { gap: $length !important; }
  }
}
