@font-face {
  font-display: block;
  font-family: Feather Icons Glyph;
  font-weight: 400;
  src: url("@fonts/Feather Icons Glyph/FeatherIconsGlyph.woff") format("woff");
}

.feather::before {
  display: inline-block;
  font-family: Feather Icons Glyph !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  font-size: 4rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.feather.fi-activity::before { content: "\f000" }
.feather.fi-airplay::before { content: "\f0ff" }

/** To-do: Apply correct unicode address **/
.feather.fi-alert-circle::before { content: "\00000" }
.feather.fi-alert-octagon::before { content: "\00000" }
.feather.fi-alert-triangle::before { content: "\00000" }
.feather.fi-align-center::before { content: "\00000" }
.feather.fi-align-justify::before { content: "\00000" }
.feather.fi-align-left::before { content: "\00000" }
.feather.fi-align-right::before { content: "\00000" }
.feather.fi-anchor::before { content: "\00000" }
.feather.fi-aperture::before { content: "\00000" }
.feather.fi-archive::before { content: "\00000" }
.feather.fi-arrow-down-circle::before { content: "\00000" }
.feather.fi-arrow-down-left::before { content: "\00000" }
.feather.fi-arrow-down-right::before { content: "\00000" }
.feather.fi-arrow-down::before { content: "\00000" }
.feather.fi-arrow-left-circle::before { content: "\00000" }
.feather.fi-arrow-left::before { content: "\00000" }
.feather.fi-arrow-right-circle::before { content: "\00000" }
.feather.fi-arrow-right::before { content: "\00000" }
.feather.fi-arrow-up-circle::before { content: "\00000" }
.feather.fi-arrow-up-left::before { content: "\00000" }
.feather.fi-arrow-up-right::before { content: "\00000" }
.feather.fi-arrow-up::before { content: "\00000" }
.feather.fi-at-sign::before { content: "\00000" }
.feather.fi-award::before { content: "\00000" }
.feather.fi-bar-chart-2::before { content: "\00000" }
.feather.fi-bar-chart::before { content: "\00000" }
.feather.fi-battery-charging::before { content: "\00000" }
.feather.fi-battery::before { content: "\00000" }
.feather.fi-bell-off::before { content: "\00000" }
.feather.fi-bell::before { content: "\00000" }
.feather.fi-bluetooth::before { content: "\00000" }
.feather.fi-bold::before { content: "\00000" }
.feather.fi-book-open::before { content: "\00000" }
.feather.fi-book::before { content: "\00000" }
.feather.fi-bookmark::before { content: "\00000" }
.feather.fi-box::before { content: "\00000" }
.feather.fi-briefcase::before { content: "\00000" }
.feather.fi-calendar::before { content: "\00000" }
.feather.fi-camera-off::before { content: "\00000" }
.feather.fi-camera::before { content: "\00000" }
.feather.fi-cast::before { content: "\00000" }
.feather.fi-check-circle::before { content: "\00000" }
.feather.fi-check-square::before { content: "\00000" }
.feather.fi-check::before { content: "\00000" }
.feather.fi-chevron-down::before { content: "\00000" }
.feather.fi-chevron-left::before { content: "\00000" }
.feather.fi-chevron-right::before { content: "\00000" }
.feather.fi-chevron-up::before { content: "\00000" }
.feather.fi-chevrons-down::before { content: "\00000" }
.feather.fi-chevrons-left::before { content: "\00000" }
.feather.fi-chevrons-right::before { content: "\00000" }
.feather.fi-chevrons-up::before { content: "\00000" }
.feather.fi-chrome::before { content: "\00000" }
.feather.fi-circle::before { content: "\00000" }
.feather.fi-clipboard::before { content: "\00000" }
.feather.fi-clock::before { content: "\00000" }
.feather.fi-cloud-drizzle::before { content: "\00000" }
.feather.fi-cloud-lightning::before { content: "\00000" }
.feather.fi-cloud-off::before { content: "\00000" }
.feather.fi-cloud-rain::before { content: "\00000" }
.feather.fi-cloud-snow::before { content: "\00000" }
.feather.fi-cloud::before { content: "\00000" }
.feather.fi-code::before { content: "\00000" }
.feather.fi-codepen::before { content: "\00000" }
.feather.fi-codesandbox::before { content: "\00000" }
.feather.fi-coffee::before { content: "\00000" }
.feather.fi-columns::before { content: "\00000" }
.feather.fi-command::before { content: "\00000" }
.feather.fi-compass::before { content: "\00000" }
.feather.fi-copy::before { content: "\00000" }
.feather.fi-corner-down-left::before { content: "\00000" }
.feather.fi-corner-down-right::before { content: "\00000" }
.feather.fi-corner-left-down::before { content: "\00000" }
.feather.fi-corner-left-up::before { content: "\00000" }
.feather.fi-corner-right-down::before { content: "\00000" }
.feather.fi-corner-right-up::before { content: "\00000" }
.feather.fi-corner-up-left::before { content: "\00000" }
.feather.fi-corner-up-right::before { content: "\00000" }
.feather.fi-cpu::before { content: "\00000" }
.feather.fi-credit-card::before { content: "\00000" }
.feather.fi-crop::before { content: "\00000" }
.feather.fi-crosshair::before { content: "\00000" }
.feather.fi-database::before { content: "\00000" }
.feather.fi-delete::before { content: "\00000" }
.feather.fi-disc::before { content: "\00000" }
.feather.fi-divide-circle::before { content: "\00000" }
.feather.fi-divide-square::before { content: "\00000" }
.feather.fi-divide::before { content: "\00000" }
.feather.fi-dollar-sign::before { content: "\00000" }
.feather.fi-download-cloud::before { content: "\00000" }
.feather.fi-download::before { content: "\00000" }
.feather.fi-dribbble::before { content: "\00000" }
.feather.fi-droplet::before { content: "\00000" }
.feather.fi-edit-2::before { content: "\00000" }
.feather.fi-edit-3::before { content: "\00000" }
.feather.fi-edit::before { content: "\00000" }
.feather.fi-external-link::before { content: "\00000" }
.feather.fi-eye-off::before { content: "\00000" }
.feather.fi-eye::before { content: "\00000" }
.feather.fi-facebook::before { content: "\00000" }
.feather.fi-fast-forward::before { content: "\00000" }
.feather.fi-feather::before { content: "\00000" }
.feather.fi-figma::before { content: "\00000" }
.feather.fi-file-minus::before { content: "\00000" }
.feather.fi-file-plus::before { content: "\00000" }
.feather.fi-file-text::before { content: "\00000" }
.feather.fi-file::before { content: "\00000" }
.feather.fi-film::before { content: "\00000" }
.feather.fi-filter::before { content: "\00000" }
.feather.fi-flag::before { content: "\00000" }
.feather.fi-folder-minus::before { content: "\00000" }
.feather.fi-folder-plus::before { content: "\00000" }
.feather.fi-folder::before { content: "\00000" }
.feather.fi-framer::before { content: "\00000" }
.feather.fi-frown::before { content: "\00000" }
.feather.fi-gift::before { content: "\00000" }
.feather.fi-git-branch::before { content: "\00000" }
.feather.fi-git-commit::before { content: "\00000" }
.feather.fi-git-merge::before { content: "\00000" }
.feather.fi-git-pull-request::before { content: "\00000" }
.feather.fi-github::before { content: "\00000" }
.feather.fi-gitlab::before { content: "\00000" }
.feather.fi-globe::before { content: "\00000" }
.feather.fi-grid::before { content: "\00000" }
.feather.fi-hard-drive::before { content: "\00000" }
.feather.fi-hash::before { content: "\00000" }
.feather.fi-headphones::before { content: "\00000" }
.feather.fi-heart::before { content: "\00000" }
.feather.fi-help-circle::before { content: "\00000" }
.feather.fi-hexagon::before { content: "\00000" }
.feather.fi-home::before { content: "\00000" }
.feather.fi-image::before { content: "\00000" }
.feather.fi-inbox::before { content: "\00000" }
.feather.fi-info::before { content: "\00000" }
.feather.fi-instagram::before { content: "\00000" }
.feather.fi-italic::before { content: "\00000" }
.feather.fi-key::before { content: "\00000" }
.feather.fi-layers::before { content: "\00000" }
.feather.fi-layout::before { content: "\00000" }
.feather.fi-life-buoy::before { content: "\00000" }
.feather.fi-link-2::before { content: "\00000" }
.feather.fi-link::before { content: "\00000" }
.feather.fi-linkedin::before { content: "\00000" }
.feather.fi-list::before { content: "\00000" }
.feather.fi-loader::before { content: "\00000" }
.feather.fi-lock::before { content: "\00000" }
.feather.fi-log-in::before { content: "\00000" }
.feather.fi-log-out::before { content: "\00000" }
.feather.fi-mail::before { content: "\00000" }
.feather.fi-map-pin::before { content: "\00000" }
.feather.fi-map::before { content: "\00000" }
.feather.fi-maximize-2::before { content: "\00000" }
.feather.fi-maximize::before { content: "\00000" }
.feather.fi-meh::before { content: "\00000" }
.feather.fi-menu::before { content: "\00000" }
.feather.fi-message-circle::before { content: "\00000" }
.feather.fi-message-square::before { content: "\00000" }
.feather.fi-mic-off::before { content: "\00000" }
.feather.fi-mic::before { content: "\00000" }
.feather.fi-minimize-2::before { content: "\00000" }
.feather.fi-minimize::before { content: "\00000" }
.feather.fi-minus-circle::before { content: "\00000" }
.feather.fi-minus-square::before { content: "\00000" }
.feather.fi-minus::before { content: "\00000" }
.feather.fi-monitor::before { content: "\00000" }
.feather.fi-moon::before { content: "\00000" }
.feather.fi-more-horizontal::before { content: "\00000" }
.feather.fi-more-vertical::before { content: "\00000" }
.feather.fi-mouse-pointer::before { content: "\00000" }
.feather.fi-move::before { content: "\00000" }
.feather.fi-music::before { content: "\00000" }
.feather.fi-navigation-2::before { content: "\00000" }
.feather.fi-navigation::before { content: "\00000" }
.feather.fi-octagon::before { content: "\00000" }
.feather.fi-package::before { content: "\00000" }
.feather.fi-paperclip::before { content: "\00000" }
.feather.fi-pause-circle::before { content: "\00000" }
.feather.fi-pause::before { content: "\00000" }
.feather.fi-pen-tool::before { content: "\00000" }
.feather.fi-percent::before { content: "\00000" }
.feather.fi-phone-call::before { content: "\00000" }
.feather.fi-phone-forwarded::before { content: "\00000" }
.feather.fi-phone-incoming::before { content: "\00000" }
.feather.fi-phone-missed::before { content: "\00000" }
.feather.fi-phone-off::before { content: "\00000" }
.feather.fi-phone-outgoing::before { content: "\00000" }
.feather.fi-phone::before { content: "\00000" }
.feather.fi-pie-chart::before { content: "\00000" }
.feather.fi-play-circle::before { content: "\00000" }
.feather.fi-play::before { content: "\00000" }
.feather.fi-plus-circle::before { content: "\00000" }
.feather.fi-plus-square::before { content: "\00000" }
.feather.fi-plus::before { content: "\00000" }
.feather.fi-pocket::before { content: "\00000" }
.feather.fi-power::before { content: "\00000" }
.feather.fi-printer::before { content: "\00000" }
.feather.fi-radio::before { content: "\00000" }
.feather.fi-refresh-ccw::before { content: "\00000" }
.feather.fi-refresh-cw::before { content: "\00000" }
.feather.fi-repeat::before { content: "\00000" }
.feather.fi-rewind::before { content: "\00000" }
.feather.fi-rotate-ccw::before { content: "\00000" }
.feather.fi-rotate-cw::before { content: "\00000" }
.feather.fi-rss::before { content: "\00000" }
.feather.fi-save::before { content: "\00000" }
.feather.fi-scissors::before { content: "\00000" }
.feather.fi-search::before { content: "\00000" }
.feather.fi-send::before { content: "\00000" }
.feather.fi-server::before { content: "\00000" }
.feather.fi-settings::before { content: "\00000" }
.feather.fi-share-2::before { content: "\00000" }
.feather.fi-share::before { content: "\00000" }
.feather.fi-shield-off::before { content: "\00000" }
.feather.fi-shield::before { content: "\00000" }
.feather.fi-shopping-bag::before { content: "\00000" }
.feather.fi-shopping-cart::before { content: "\00000" }
.feather.fi-shuffle::before { content: "\00000" }
.feather.fi-sidebar::before { content: "\00000" }
.feather.fi-skip-back::before { content: "\00000" }
.feather.fi-skip-forward::before { content: "\00000" }
.feather.fi-slack::before { content: "\00000" }
.feather.fi-slash::before { content: "\00000" }
.feather.fi-sliders::before { content: "\00000" }
.feather.fi-smartphone::before { content: "\00000" }
.feather.fi-smile::before { content: "\00000" }
.feather.fi-speaker::before { content: "\00000" }
.feather.fi-square::before { content: "\00000" }
.feather.fi-star::before { content: "\00000" }
.feather.fi-stop-circle::before { content: "\00000" }
.feather.fi-sun::before { content: "\00000" }
.feather.fi-sunrise::before { content: "\00000" }
.feather.fi-sunset::before { content: "\00000" }
.feather.fi-table::before { content: "\00000" }
.feather.fi-tablet::before { content: "\00000" }
.feather.fi-tag::before { content: "\00000" }
.feather.fi-target::before { content: "\00000" }
.feather.fi-terminal::before { content: "\00000" }
.feather.fi-thermometer::before { content: "\00000" }
.feather.fi-thumbs-down::before { content: "\00000" }
.feather.fi-thumbs-up::before { content: "\00000" }
.feather.fi-toggle-left::before { content: "\00000" }
.feather.fi-toggle-right::before { content: "\00000" }
.feather.fi-tool::before { content: "\00000" }
.feather.fi-trash-2::before { content: "\00000" }
.feather.fi-trash::before { content: "\00000" }
.feather.fi-trello::before { content: "\00000" }
.feather.fi-trending-down::before { content: "\00000" }
.feather.fi-trending-up::before { content: "\00000" }
.feather.fi-triangle::before { content: "\00000" }
.feather.fi-truck::before { content: "\00000" }
.feather.fi-tv::before { content: "\00000" }
.feather.fi-twitch::before { content: "\00000" }
.feather.fi-twitter::before { content: "\00000" }
.feather.fi-type::before { content: "\00000" }
.feather.fi-umbrella::before { content: "\00000" }
.feather.fi-underline::before { content: "\00000" }
.feather.fi-unlock::before { content: "\00000" }
.feather.fi-upload-cloud::before { content: "\00000" }
.feather.fi-upload::before { content: "\00000" }
.feather.fi-user-check::before { content: "\00000" }
.feather.fi-user-minus::before { content: "\00000" }
.feather.fi-user-plus::before { content: "\00000" }
.feather.fi-user-x::before { content: "\00000" }
.feather.fi-user::before { content: "\00000" }
.feather.fi-users::before { content: "\00000" }
.feather.fi-video-off::before { content: "\00000" }
.feather.fi-video::before { content: "\00000" }
.feather.fi-voicemail::before { content: "\00000" }
.feather.fi-volume-1::before { content: "\00000" }
.feather.fi-volume-2::before { content: "\00000" }
.feather.fi-volume-x::before { content: "\00000" }
.feather.fi-volume::before { content: "\00000" }
.feather.fi-watch::before { content: "\00000" }
.feather.fi-wifi-off::before { content: "\00000" }
.feather.fi-wifi::before { content: "\00000" }
.feather.fi-wind::before { content: "\00000" }
.feather.fi-x-circle::before { content: "\00000" }
.feather.fi-x-octagon::before { content: "\00000" }
.feather.fi-x-square::before { content: "\00000" }
.feather.fi-x::before { content: "\00000" }
.feather.fi-youtube::before { content: "\00000" }
.feather.fi-zap-off::before { content: "\00000" }
.feather.fi-zap::before { content: "\00000" }
.feather.fi-zoom-in::before { content: "\00000" }
.feather.fi-zoom-ou::before { content: "\00000" }


